:root{
    --contentHalf: max(calc((100% - 1200px) / 2), 20px);
}


/* 컨텐츠 사이즈 */
.contentSize{padding-inline: max(var(--contentHalf), 20px); box-sizing: border-box;}


/* 이미지 박스 */
.imgBox{background-position: center; background-size: cover; text-indent: -9999px;}
[data-styleIdx] .imgBox{background-position: left top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx));}


/* 페이저 */
.swiper-pagination .swiper-pagination-bullet{background-color: #999; opacity: 1;}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color: transparent; border: 3px solid #FA4041;}


/* 해더 */
header{height: 100px; display: flex; justify-content: space-between; align-items: center; position: fixed; left: 0; top: 0; width: 100%; z-index: 100;}
header h1.imgBox{aspect-ratio: 222 / 24; --styleIdx: 0; background-image: url(../images/logo.png); background-position: left top calc(100% * var(--styleIdx)); background-size: 100%;}
header div{display: flex; gap: 20px;}
header div a{width: 50px; aspect-ratio: 1; background-image: url(../images/icon-app-white.png);}
header.active{background-color: white;}
header.active h1.imgBox{--styleIdx: 1;}
header.active div a{background-image: url(../images/icon-app-black.png);}


/* 푸터 */
footer{color: #999; background-color: #111; position: relative;}
footer h2{background-image: url(../images/logo-footer.png);}
footer ul{display: flex;}
footer ul li:not(:last-child){display: flex; align-items: center;}
footer ul li:not(:last-child)::after{content: ''; width: 1px; background-color: rgba(255, 255, 255, 0.3);}
footer ul li{font-weight: 700;}
footer address{font-weight: 400;}
footer address dl{display: flex; align-items: center;}
footer address > dl{gap: 0.4em;}
footer address div dl{font-weight: 700;}
footer button{display: none; aspect-ratio: 1; /* background-color: black; */ background-image: url(../images/icon-top.png); border-radius: 100%; position: absolute; z-index: 1000;}
footer button.active{display: block;}