
/* 상단 */
.topArea{background: url(../images/bg-top.png) no-repeat center / cover; position: relative;}
.topArea .swiper-slide{position: relative; color: white;}
.topArea .swiper-slide p{font-weight: 400;}
.topArea .swiper-slide strong{font-weight: 700; display: block;}
.topArea .swiper-slide div{display: flex;}
.topArea .swiper-slide::after{content: ''; background-position: center; background-size: cover;}
.topArea .swiper-slide.slide01::after{aspect-ratio: 300 / 580; background-image: url(../images/img-top01.png);}
.topArea .swiper-slide.slide02::after{aspect-ratio: 526 / 640; background-image: url(../images/img-top02.png);}
/* .swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active){background-color: white;} */


section h2{font-weight: 700; text-align: center;}
/* 서비스 */
.serviceArea > p{text-align: center;}
.serviceArea .serviceSwiper .swiper-slide{position: relative;}
.serviceArea .serviceSwiper .swiper-slide strong{font-weight: 700; display: block;}
.serviceArea .serviceSwiper .swiper-slide p{font-weight: 400; color: #666;}
.serviceArea .serviceSwiper .swiper-slide::after{aspect-ratio: 610 / 510; content: ''; background: url(../images/img-service.png) no-repeat left top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%;}
.serviceArea .swiper-pagination .swiper-pagination-bullet{margin-inline: auto;}
.serviceArea .serviceSwiper .swiper-pagination{width: auto; bottom: auto; display: flex; align-items: center;}


/* 자주 묻는 질문 */
.questionArea{background-color: #F8F8F8;}
.questionArea ul{border-top: 1px solid #bbb;}
.questionArea ul li{border-bottom: 1px solid #bbb;}
.questionArea ul li button:nth-child(1){width: 100%; font-weight: 700; text-align: left;}
.questionArea ul li div{display: none; font-weight: 400;}
.questionArea ul li:not(.active) button:nth-child(1){background-position: center right var(--right); background-image: url(../images/icon-open.png); background-repeat: no-repeat;}
.questionArea ul li:not(.active) button:nth-of-type(2){display: none;}
.questionArea ul li.active{padding-bottom: 40px; position: relative;}
.questionArea ul li.active button:nth-child(1){width: 100%; padding-bottom: 34px; cursor: auto;}
.questionArea ul li.active div{display: block;}
.questionArea ul li.active button:nth-of-type(2){position: absolute; aspect-ratio: 1; background-image: url(../images/icon-close.png);}



/* 링크 */
.linkArea{background-repeat: no-repeat; background-position: center; background-size: cover;}
.linkArea strong{color: white; text-align: center; font-weight: 700; display: block;}
.linkArea div{display: flex; justify-content: center; gap: 28px;}
.linkArea div a{aspect-ratio: 242 / 70; background-image: url(../images/logo-app.png); border: 1px solid white; background-color: rgba(255, 255, 255, 0.05);}
.linkArea::after{content: ''; display: block; height: 1px; background-color: #404040;}